@page
@using SemestriProject.Pages.Extensions
@model SemestriProject.Soft.Areas.SeaFreight.Pages.Africa.CreateModel

@{
    Layout = "_Create";
}

    <body>
        @Html.EditControlsFor(m => m.Item.Id)
        @Html.EditControlsFor(m => m.Item.Direction)
        @Html.EditControlsFor(m => m.Item.OrderTime)
        @Html.EditControlsFor(m => m.Item.LiftingCapacity)
        @Html.EditControlsFor(m => m.Item.ContainerType)
        @Html.EditControlsFor(m => m.Item.TravelTime)
    </body>
