@page
@using SemestriProject.Pages.Extensions
@model SemestriProject.Soft.Areas.SeaFreight.Pages.Africa.DetailsModel

@{
    Layout = "_Details";
}

    <body>
        @Html.DisplayControlsFor(m => m.Item.Id)
        @Html.DisplayControlsFor(m => m.Item.Direction)
        @Html.DisplayControlsFor(m => m.Item.OrderTime)
        @Html.DisplayControlsFor(m => m.Item.LiftingCapacity)
        @Html.DisplayControlsFor(m => m.Item.ContainerType)
        @Html.DisplayControlsFor(m => m.Item.TravelTime)
    </body>