@using SemestriProject.Pages.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BDK Logistic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mx-auto">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/index">
                    <img src="/img/logo.jpg" width="250px;" class="d-inline-block align-top" alt="">
                </a>
            </nav>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                <ul class="navbar-nav flex-grow-1">
                    @Html.DropDownNavigationMenuFor("Road Freight",
                        new Link("Baltic", "/RoadFreight/Baltic"),
                        new Link("Russia and CIS", "/RoadFreight/RussiaAndCIS"),
                        new Link("Scandinavia", "/RoadFreight/Scandinavia"),
                        new Link("Info", "/RoadFreight/RoadFreightInfo"))
                    @Html.DropDownNavigationMenuFor("Sea Freight",
                        new Link("Europe", "/SeaFreight/Europe"),
                        new Link("Africa", "/SeaFreight/Africa"),
                        new Link("Info", "/SeaFreight/SeaFreightInfo"))
                    @Html.DropDownNavigationMenuFor("Air Freight",
                        new Link("America", "/AirFreight/America"),
                        new Link("Australia", "/AirFreight/Australia"),
                        new Link("China", "/AirFreight/China"),
                        new Link("Info", "/AirFreight/AirFreightInfo"))
                    <li class="nav-item ml-5" style="background-color: red; border-radius: 10px;">
                        <a class="nav-link" style="color:white;" href="/Order/MakeOrder/Create">Order here</a>
                    </li>

                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BDK Logistic - <a asp-area="" asp-page="/Contacts">Contacts</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


@RenderSection("Scripts", required: false)
</body>
</html>
